<section id="about" class="py-16 md:py-24 bg-gray-100 w-full">
    <div class="w-full px-4 sm:px-6 lg:px-8 flex flex-col lg:flex-row gap-12 items-center">

        <!-- left column -->
        <div class="flex flex-col space-y-10 items-start justify-center">
            <div class="flex flex-col max-w-xl mx-auto mb-12">
                <p class="text-primary text-sm font-semibold">ABOUT INCEP</p>
                <h1 class="text-4xl font-semibold">Life Insurance That Creates Wealth For Everyone</h1>
            </div>
            <!-- <h4 class="text-primary uppercase font-medium mb-4"></h4>
            <h2 class="text-3xl font-bold text-gray-900 leading-tight max-w-3xl">
                
            </h2> -->

            <div class="bg-white rounded-lg p-10 shadow-md max-w-3xl w-full">
                <div class="flex items-start space-x-6">
                    <div class="w-28 h-28 bg-[#F5FFFE] rounded-full flex items-center justify-center">
                        <img src="assets\images\security.png" alt="Trusted Icon" class="w-16 h-16 object-contain" />
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-gray-900 mb-4">
                            Trusted By Thousands
                        </h3>
                        <p class="text-gray-600 text-lg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit
                            amet, consectetur adipiscing.
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg p-10 shadow-md max-w-3xl w-full">
                <div class="flex items-start space-x-6">
                    <div class="w-28 h-28 bg-[#F5FFFE] rounded-full flex items-center justify-center">
                        <img src="assets\images\trust.png" alt="Set For Life Icon" class="w-16 h-16 object-contain" />
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-gray-900 mb-4">
                            Set For Life
                        </h3>
                        <p class="text-gray-600 text-lg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit
                            amet, consectetur adipiscing.
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg p-10 shadow-md max-w-3xl w-full">
                <div class="flex items-start space-x-6">
                    <div class="w-28 h-28 bg-[#F5FFFE] rounded-full flex items-center justify-center">
                        <img src="assets\images\shield.png" alt="Protective Insurance Icon"
                            class="w-16 h-16 object-contain" />
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-gray-900 mb-4">
                            Protective Insurance
                        </h3>
                        <p class="text-gray-600 text-lg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit
                            amet, consectetur adipiscing.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- right column -->
        <div class="flex flex-col md:flex-col gap-6 lg:gap-8 items-center justify-center">
            <div class="flex flex-row gap-4">
                <div class="rounded-2xl shadow-lg w-[45%] h-[45%] object-contain">
                    <img src="assets/images/image1.png" alt="Parent and Baby" class="" />
                </div>

                <div class="rounded-2xl shadow-lg w-[45%] h-[45%] object-contain">
                    <img src="assets/images/image2.png" alt="Family Laughing" class="" />
                </div>
            </div>
            <div class=" rounded-2xl shadow-lg w-[45%] h-[45%] object-contain">
                <img src="assets/images/image3.png" alt="Driving" class="" />
            </div>
        </div>

    </div>
</section>