<footer class="bg-light-green-50 w-full p-12 pt-16">
    <div class="flex flex-col sm:flex-row justify-around md:items-center">
        <!-- address -->
        <div id="address" class="text-sm leading-8">
            <h3 class="text-3xl font-extrabold text-primary mb-6">Logo</h3>

            <p>
                <span class="text-gray-700 font-semibold">Location: </span>
                <span class="text-gray-500">Isr Street glirt awam juim</span>
            </p>

            <p>
                <span class="text-gray-700 font-semibold">Contact: </span>
                <span class="text-gray-500">+9 5555559909</span>
            </p>

            <p>
                <span class="text-gray-700 font-semibold">Time: </span>
                <span class="text-gray-500">(9am - 5pm EST, Monday - Friday)</span>
            </p>

            <p>
                <span class="text-gray-700 font-semibold">Email: </span>
                <span class="text-gray-500">youme&#64;example.com</span>
            </p>
        </div>

        <!-- links -->
        <div class="flex flex-col mt-4 sm:mt-0 sm:flex-row justify-between gap-8 md:gap-12 lg:gap-20 text-sm">
            <div>
                <h3 class="text-gray-900 text-xl font-bold mb-6">Company</h3>
                <ul class="space-y-6">
                    <li><a href="#" class="text-gray-600 hover:text-primary">Case Studies</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Case Details</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Privacy Policy</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Services</a></li>
                </ul>
            </div>

            <div>
                <h3 class="text-gray-900 text-xl font-bold mb-6">Explore</h3>
                <ul class="space-y-6">
                    <li><a href="#" class="text-gray-600 hover:text-primary">About Us</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Blog And News</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Blog Details</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Pricing</a></li>
                </ul>
            </div>

            <div>
                <h3 class="text-gray-900 text-xl font-bold mb-6">Insurance</h3>
                <ul class="space-y-6">
                    <li><a href="#" class="text-gray-600 hover:text-primary">Health Insurance</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Car Insurance</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Business Insurance</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-primary">Life Insurance</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>