<section id="service-features" class="py-12 md:py-20 bg-white w-full">
    <div class="container w-full mx-auto px-4 sm:px-6 lg:px-8">
      <!-- section header -->
      <div class="flex flex-col text-center max-w-xl mx-auto mb-12">
        <p class="text-primary text-sm font-semibold">OUR FEATURES</p>
        <h1 class="text-4xl font-semibold">Better Digital Insurance Begins Right Here</h1>
      </div>
  
      <div class="flex flex-wrap justify-between gap-4">
        <!-- Feature Card 1 -->
        <div class="p-6 bg-white rounded-xl shadow-lg flex flex-col feature-item w-full md:w-[45%] lg:w-[20%] max-w-full flex-grow">
          <img src="assets/images/features_icon1.png" alt="Money Guarantee" class="w-16 h-16 mb-4 object-contain" />
          <h3 class="text-lg font-semibold text-gray-900 mb-3">Money Guarantee</h3>
          <p class="text-gray-600 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
  
        <!-- Feature Card 2 -->
        <div class="p-6 bg-white rounded-xl shadow-lg flex flex-col feature-item w-full md:w-[45%] lg:w-[20%] max-w-full flex-grow">
          <img src="assets/images/features_icon2.png" alt="Flexible Claims" class="w-16 h-16 mb-4 object-contain" />
          <h3 class="text-lg font-semibold text-gray-900 mb-3">Flexible Claims</h3>
          <p class="text-gray-600 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
  
        <!-- Feature Card 3 -->
        <div class="p-6 bg-white rounded-xl shadow-lg flex flex-col feature-item w-full md:w-[45%] lg:w-[20%] max-w-full flex-grow">
          <img src="assets/images/features_icon3.png" alt="E-Policy Access" class="w-16 h-16 mb-4 object-contain" />
          <h3 class="text-lg font-semibold text-gray-900 mb-3">E-Policy Access</h3>
          <p class="text-gray-600 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
  
        <!-- Feature Card 4 -->
        <div class="p-6 bg-white rounded-xl shadow-lg flex flex-col feature-item w-full md:w-[45%] lg:w-[20%] max-w-full flex-grow">
          <img src="assets/images/features_icon4.png" alt="Instant Payments" class="w-16 h-16 mb-4 object-contain" />
          <h3 class="text-lg font-semibold text-gray-900 mb-3">Instant Payments</h3>
          <p class="text-gray-600 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>
  